# MongoDB Connection
MONGODB_URL=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=smartcart
STORE_ID=store-01
TOKEN_EXPIRE_MINUTES=10

# For local development, use:
# MONGODB_URL=mongodb://localhost:27017
